.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: #f6f6f6;
    height: 30px;
}

.logo {
    width: 200px;
}

.profile {
    width: 75px;
}

#root {
    max-width: none;
    margin: 0;
    padding: 0;
}